:root {
  --primary-color: #003585;
  --secondary-color: #a7f65c;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.outline-white-btn {
  padding: 13px 32px;
  color: white;
  border: 1px solid white;
}

.white-btn {
}
